/ConvolutionNN/10_food_classes_all_data/
/ConvolutionNN/pizza_steak/
/Tensorflow_packt_exercises/data/auto+mpg/
/TransferLearning/10_food_classes_10_percent/
/TransferLearning/10_food_classes_1_percent/
/TransferLearning/ten_percent_model_checkpoints_weights/
/TransferLearning/10_food_classes_all_data/
/TransferLearning/101_food_classes_10_percent/
NLPFundamentals/pubmed-rct/
/Tensorflow_packt_exercises/data/E.npy
